body {
  background-color: #ffffdd;
  color: #303960;
  font-family: 'Balsamiq Sans', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Righteous', cursive; */
  /* font-family: 'Montserrat', sans-serif; */
  font-size: 18px;
}

body.lang-ko {
  font-size: 20px;
}

.lang-ko {
  /* font-family: 'Gaegu', cursive; */
  /* font-family: 'Nanum Gothic', sans-serif; */
  /* font-family: 'Gamja Flower', cursive; */
  letter-spacing: 1px;
  /* font-weight: 500; */
  /* font-size: 120%; */
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Righteous', cursive;
}

a:link {
  text-decoration: none;
  color: #303960;
}

a:visited {
  text-decoration: none;
  color: #303960;
}

a:hover {
  color: white;
}

a:active {
  color: white;
}

.remaining-time {
  font-family: 'Righteous', cursive;
  font-size: 22px;
}

button {
  font-family: 'Righteous', cursive;
}

.header-section {
  margin: 5px 20px;
  border-radius: 20px;
  background-color: #ffd5e5;
  text-align: center;
  padding: 10px;

}

.header-desc {
  font-family: 'Righteous', cursive;
  font-size: 22px;
  margin-bottom: 15px;
}



.social-icon {
  font-size: 22px;
  padding: 2px 5px 2px 5px;
}

#help-icon {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 20px;
  left: 50px;
  font-size: 30px;
  color: #303960;
}

#help-section {
  display: none;
  position: absolute;
  top: 30px;
  left: 60px;
  width: 450px;
  background-color: #fff;
  /* background-color: #81f5ff; */
  border-radius: 15px;
  /* border-style:solid;
  border-width : 4px;
  border-color : #ffd5e5; */
  padding: 15px;
  line-height: 1.5;
  /* font-family: 'Righteous', cursive; */
  /* font-size : 16px; */
  z-index: 2;
}

#help-close {
  text-align: right;
  padding-right: 10px;
  font-size: 30px;
}

.help-item {
  background-color: #a0ffe6;
  border-radius: 15px;
  border: none;
  padding: 5px 20px;
}

.main-section {
  text-align: center;
}

.menu-item {
  background-color: #a0ffe6;
  padding: 5px 20px;
  border-radius: 15px;
  border: none;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Righteous', cursive;
  color: #303960;
  margin: auto 10px;
}

.btn-init {
  display: none;
  color: red;
}

.about-us {
  display: block;
  margin: 10px 20px;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 20px;

  background-color: #a0ffe6;
}

.about-cubie {
  display: inline-block;
  background-color: #a0ffe6;
  width: 420px;
  /* padding: 20px; */
  border-radius: 15px;
  text-align: left;
  margin: 10px;
  vertical-align: top;
  /* padding-bottom : 100px; */
}

.about-crew {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  padding-top: 20px;

}

.crew-row {
  /* display: inline-block; */
  /* margin: auto; */
  padding: 1px;
}

.crew-card {
  width: 450px;
  display: inline-block;
  background-color: #81f5ff;
  border-radius: 15px;
  padding: 0px 15px 10px 15px;
  margin: 10px;
}

.crew-desc {
  display: inline-block;
  vertical-align: middle;
  width: 310px;
  /* padding : 10px; */
}

.crew-img {
  width: 110px;
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
}


.crew-cubie {
  width: 100px;
  height: 100px;
  border-radius: 50%;

}

.empty-row {
  width: 10px;
  height: 100px;
}

.checklist {
  display: none;
  position: relative;
  margin: auto;
  /* text-align : center; */
}

.season-section,
.rarity-section {
  display: inline-block;
  font-family: 'Righteous', cursive;
  font-size: 14pt;
  padding-left: 20px;
  padding-right: 20px;
}

.season,
.rarity {
  display: inline-block;
  margin: auto;
}

.season-btn,
.rarity-btn {
  display: inline-block;
  margin: auto;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #ffd5e5;
  font-size: 18pt;
  font-weight: 700;
  color: white;
}

.get-cubie {
  display: none;
  margin: 10px 20px;
}

.daily-chance {
  display: block;
  /* width : 350px; */
}


.before-get {
  padding: 10px;
  /* position : relative; */
  margin: auto;
  /* height : 450px; */
  font-size: 0;
}

.before-img {
  width: 400px;
  height: 400px;
  display: inline-block;
  vertical-align: middle;
  background-image: url("images/Untitled_Artwork.png");
  background-color: #ffffff;
  /* height: 500px; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 370px 370px;
  margin: 5px;
  text-align: bottom;
}

.before-desc {
  width: 280px;
  height: 200px;
  display: inline-block;
  vertical-align: middle;
  background-color: #ffd5e5;
  border-radius: 15px;
  padding: 20px;
  margin: 10px;
  margin: 5px;
}

.before-message {
  display: inline-block;
  /* vertical-align : middle;  */
  font-size: 20px;
}

.btn-lucky {
  background-color: #303960;
  border: none;
  border-radius: 10px;
  color: #ffffdd;
  padding: 5px 10px;
  margin: 15px;
  font-family: 'Righteous', cursive;
  font-size: 18px;

}

.after-get {
  display: none;
}

.lucky-title {
  background-color: #81f5ff;
}

.title-box {
  display: inline-block;
  vertical-align: middle;
}

.after-desc {
  width: 280px;
  height: 220px;
  display: inline-block;
  vertical-align: middle;
  background-color: #81f5ff;
  border-radius: 15px;
  padding: 20px;
  margin: 10px;
  margin: 5px;
}

.lucky-template {
  display: inline-block;
  width: 400px;
  height: 400px;
  background-image: url("images/98BBs.png");
  background-color: #ffffff;
  /* height: 500px; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 280px;
  position: relative;

}

.btn-download {
  background-color: #303960;
  border: none;
  border-radius: 10px;
  color: #ffffdd;
  padding: 5px 10px;
  margin: 15px auto;
  font-family: 'Righteous', cursive;
  font-size: 18px;
}


.time-refresh {
  padding: 5px;
  font-size: 24px;
}

.card-list {
  position: relative;
  margin: auto;
  /* margin : 10px 20px; */
  text-align: center;
}

.thumb-card {
  display: inline-block;
  position: relative;
  width: 330px;
  height: 130px;
  background-color: #81f5ff;
  padding: 15px;
  margin: 5px;

  border-radius: 20px;
  text-align: left;
}

.cubie-img {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 20px;
}

.cubie-img-big {
  display: none;
  position: absolute;
  left: 10px;
  top: 10px;
  width: 280px;
  height: 280px;
  border-radius: 20px;
  z-index: 2;
}

.thumb-content {
  display: inline-block;
  position: absolute;
  top: 15px;
  left: 125px;
  margin-right: 10px;
}

.story-toggle {
  display: none;
  padding-top: 5px;
}

.btn-story-toggle {
  background-color: #303960;
  border: none;
  border-radius: 10px;
  color: #ffffdd;
  padding: 5px 10px;

}


.cubie-story {
  display: none;
  width: 320px;
  position: absolute;
  left: 0px;
  top: 160px;
  z-index: 2;
  background-color: #303960;
  color: #ffffdd;
  /* border-color : #a0ffe6;
    border-style : solid;
    border-width : 3px; */
  padding: 20px;
  border-radius: 20px;
  font-size: 18px;
}

.close-bar {
  position: relative;
  padding: 10px;
  text-align: right;

}

.btn-close {
  background-color: #303960;
  border: none;
  color: #ffffdd;
  position: absolute;
  right: 0px;
  bottom: 0px;
  font-size: 22px;
  font-weight: 700;
}

/* .story-title{
    text-align: center;
}
.temp-img{
    width : 300px;
}
*/
.cubie-story-content {
  padding-bottom: 10px;
}

.check-line {
  position: absolute;
  top: 130px;
  left: 45px;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  /* font-size: 22px; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #fff;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
  background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
  background-color: #a0ffe6;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #303960;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.footer {
  text-align: center;
  margin-top: 20px;
}

/* 
#ffd5e5
#ffffdd
#a0ffe6
#81f5ff */